<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./style.css" />

    <title>{{ title }}</title>
  </head>
  <body id="issue-page">
    <h1>{{ title }}</h1>
    <div id="pdf-container">

      <iframe src="./{{ slug }}.pdf#toolbar=0" width="100%" height="100%" style="border: none;"></iframe>
    </div>

    <script>
      const isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

      if (isMobile || window.matchMedia('(max-width: 500px)').matches) {
        window.location.href = '{{slug}}.pdf'
      }
    </script>

    <script data-goatcounter="https://thehorizonmagazine.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
